apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-deployment
  labels:
    app: todo-app
    created-by: mukhanovt
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
        created-by: mukhanovt
    spec:
      containers:
      - name: todo-app
        image: todo-app-mukhanovt
        imagePullPolicy: Never
        ports:
        - containerPort: 8090