apiVersion: v1
kind: Service
metadata:
  name: todo-service
  labels:
    created-by: mukhanovt
spec:
  type: NodePort
  selector:
    app: todo-app
  ports:
  - port: 8090
    targetPort: 8090
    nodePort: 30090